body {
	background-color: #F6F4F1!important;
}

#contacts {
	display: flex;
	align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

#contacts input[type="text"],
#contacts textarea {
  margin-top: 0;
  margin-bottom: 0;	
	max-width: 100%;    
  color: #333;
  font-weight: normal;
  border: none;
  background-color: transparent;
  resize: none!important;
  transition: background 300ms;
}

#contacts input[type="text"]:hover,
#contacts textarea:hover {
	background: rgb(248, 231, 138);
}

#contacts .contact {
	margin: 3rem 1rem;
	width: 100%;
  max-width: 400px;
  min-width: 300px;  
  min-height: 430px;
  flex-grow: 1;
}

#contacts #id {
	display: none
}

#contacts li {
	list-style: none;
}

#contacts .card-content {
	padding-bottom: 5px;
}

#contacts .card-content li[data-key='tel'] {
	margin-bottom: 1rem;
}

#contacts .contact .card-panel input[type="text"] {
	font-size: 1.4rem;
	color: white
}

#sidebar {
	height: 100vh;
	margin: 0;
	max-width: 375px;
	min-width: 275px;
	position: fixed;
}

#sidebar h2 {
	color: #4db6ac !important;
}

#add-contact input {
	display: block;
}

@media screen and (min-width: 601px) {

	#contacts .contact {		
		width: 45%;		
	}

}

@media screen and (min-width: 1100px) {

	#contacts .contact {		
		width: 30%;
	}

}