<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Backbone library</title>
</head>

<link rel="stylesheet" href="css/normalize.css" class="css">
<!-- <link rel="stylesheet" href="css/skeleton.css" class="css"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
<link rel="stylesheet" href="css/main.css" class="css">

<body>

<div id="app" class='row'>
		
		<aside id='sidebar' class='col s12 m4 l3 card white'>
		<div class="card-content">
			<span class="card-title"><h2>Add new contact</h2></span>
			<form id="add-contact">
	        <div>
	        		<label for="name">Name and Surname</label> <input type="text" id="name"/>
	            <label for="address">Address</label> <input type="text" name="address" id="address"/>
	            <label for="email">Email</label> <input type="text" name="email" id="email"/>
	            <label for="tel">Telephone</label> <input type="text" name="tel" id="tel"/>
	            <button class='btn' id="add" >Add</button>
	        </div>
	    </form>
	    </div>
		</aside>

		<main class='col s12 m8 l9 offset-m4 offset-l3'> 
			
			<ul id="contacts"></ul>

		</main>   
    
</div> 

<script id="contact-template" type="text/template">  

<div class='card-content'>
   
<li data-key='name'><div class="card-panel teal lighten-2"><input type="text" value="<%= name %>"/></div></li>
<li data-key='address' class="input-field"><i class="mdi-communication-location-on prefix"></i><textarea type="text"><%= address %></textarea></li>
<li data-key='email' class="input-field"><i class="mdi-communication-email prefix"></i><input type="text" value="<%= email %>"/></li>
<li data-key='tel' class="input-field"><i class="mdi-communication-phone prefix"></i><input type="text" value="<%= tel %>"/></li>
<span id='id'><%= id %></span>

<div class="card-action">
	<button class="delete btn">Delete</button>
	<button class="save btn">Save</button>
</div>

</div>

</script>





<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<!-- Underscore -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore.js"></script>

<!-- Backbone -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone.js"></script>

<!-- Firebase -->
<script src="https://cdn.firebase.com/js/client/2.0.3/firebase.js"></script>

<!-- BackboneFire -->
<script src="https://cdn.firebase.com/libs/backbonefire/0.5.1/backbonefire.js"></script>

<script src="js/autosize.min.js"></script>

<script type="text/javascript" src="js/main.js"></script>




</body>
</html>